/* General */

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  text-rendering: geometricPrecision;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
}

body {
  min-height: 100vh; /* ← wichtig für flexbox-Zentrierung */
  width: 100%;
  margin: 0;
  padding: 0;

  background-color: var(
    --gray-50
  ); /* optional: dezenter Hintergrund für Kartenlook */
  color: var(--black);
  font-family: var(--font-primary);

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column; /* Body als flex-container für PageLayout */
  align-items: center; /* zentriert Main-Content horizontal */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
  font-weight: 600;
  color: var(--black);
}

h1,
h2,
h3 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

h4,
h5,
h6 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.875rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  margin: 0 0 1rem;
}

strong {
  font-weight: 500;
}

small {
  font-size: 0.75rem;
}

blockquote {
  padding: 1rem 2rem;
  margin: 0 0 2rem;

  border-left: 8px solid #eee;

  font-size: 1rem;
  font-style: italic;
}

body,
button,
input,
select,
textarea {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: var(--black);
  text-decoration: none;
}

figure {
  margin: 0;
}
img {
  vertical-align: middle;
}

code,
pre {
  font-family: "Fira Code", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
  width: 100%;
}

code {
  color: var(--emerald);
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 640px) {
  .mobile-scroll-lock {
    overflow: hidden;
  }
}
